#overlay {
     visibility: hidden;
     position: absolute; 
     left: 0px;
     top: -20px;
     width:auto;
     height:100%;
     text-align:center;
     z-index: 1000;
}
#overlay div {
     width:auto;
     margin: 100px auto;
 /*    background-color: #fff; */
     background-color: #FFD700;
     border:1px solid #000;
     padding:15px;
     text-align:left;
}

.choosecrop {
 color: #000000;
 font-size: 40pt;
-moz-border-radius: 20px;
border-radius: 20px;
/*
 background-color: #FFD700; 
*/
 background-color: wheat;
 width: 500px;
 height: 70;
 border: solid  thin black;
 margin: 2;
 padding: 1;
 position: relative;
text-shadow: 1px 1px 1px #000;
display: block;
}

.submitbutton {
-moz-border-radius: 20px;
border-radius: 20px;
 border: solid  thin black;
 margin: 2;
 padding: 1;
 position: relative;
text-shadow: 1px 1px 1px #000;
display: block;
    color: #15C354;
/*
    background-color: #1E5B34;
*/
    background-color: wheat;
	width: 100%;
	height: 60px; /*200px;*/
	font-size: 24px; /*72px;*/
	font-weight: bold;
	margin-top: 10px;

	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
}

.genericbutton {
 font-size: 15pt; /*40pt;*/
-moz-border-radius: 20px;
border-radius: 20px;
 height: 20; /*70;*/
 border: solid  thin black;
 margin: 2;
 padding: 1;
 position: relative;
text-shadow: 1px 1px 1px #000;
display: block;
    color: #15C354;
/*
    background-color: #1E5B34;
*/
    background-color: wheat;
	width: 100%;
	height: 50px; /*150px;*/
	font-size: 18px; /*52px;*/
	font-weight: bold;
	margin-top: 25px;
}
.secondbutton {
   color: #523d19;
   font-size: 40pt;
	width: 50%;
   -moz-border-radius: 20px;
   border-radius: 6px;
   background-color: wheat;
   border: solid  thin wheat;
   margin: 2;
   padding: 0.5em 1em;
   position: relative;
   outline: none;
}

body{ 
/*-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);*/
/* set to make tabs work in mobile - no idea why this works */
font-size: 0em;
/*
font-size: 1.5em;
 background-color: #19C0BF;
*/
 background-color: ivory;
 }

.gx1{
margin-right:1.0em;
font-size:35pt;
font-weight: none 
margin-bottom: 200px;
}
  .gx1:link {
/* Applies to links under the pointer */
/*
color: #333399;
*/
color: brown;
text-decoration: none; 
 }
  .gx1:visited {
/* Applies to links under the pointer */
/*
color: #333399;
*/
color: brown;
text-decoration: none;  
 }
.gx1:hover {
/* Applies to links under the pointer */
/*
color: #c00000;
*/
color: maroon;
 text-decoration: underline;
 }

  .gx2:link {
/* Applies to links under the pointer */
color: #333399;
text-decoration: none; 
 }
  .gx2:visited {
/* Applies to links under the pointer */
/*
color: #333399;
*/
color: brown;
text-decoration: none;  
 }
.gx2:hover {
/* Applies to links under the pointer */
/*
color: #c00000;
*/
color: maroon;
 text-decoration: underline;
 }

#col1 {
width: 300px;
}
#col2 {
width : 30px;
}

h4 {
  font-size: 30pt;
}
h3 {
   font-size: 35pt;
    margin-top: -10px;
}
h1 {
   font-size: 35pt;

}
h1.hi {
   font-size: 35pt;
   margin-top: -10px;
}
.imgClass { 
    background-image: url("submit.gif");
    background-position:  0 0;
    background-repeat: no-repeat;
    width: auto;
    height: 53px;
    border:  0;
    color: #15C354;
    font-size: 30pt;
    background-color: #1E5B34;
}
.imgClass: hover{ 
      background-position:  0 -52px;
}
.label2 {
  font-size: 30pt;
}
.imgClass: active{
      background-position:  0 -104px;
}
label {
margin: 0 auto;
color: Black;
font-weight: bold;
display: block;
width: auto;
float:left;
font-size: 50pt;
margin-right: 25px;
}

.textbox {
width:75px;
height: 75px;
font-size:30pt;
margin-left: -15px;
float: left;
display:block;
background-color: white;
text-align: center;
}

.textbox2{
float:left;
width: 72px;
height: 75px;
font-size: 30pt;
margin-top: 8px;
padding-top: 5px;
margin-left: -30px;
text-align: center;
background-color: white;
}

.textbox25 {
float:left;
width: 150px;
height: 75px;
font-size: 30pt;
margin-top: 8px;
padding-top: 5px;
margin-left: -30px;
text-align: center;
background-color: white;
}

.textbox3 {
text-align: center;
margin-top: 8px;
width: 200px;
height: 75px;
display:block;
font-weight: bold;
float:left;
font-size: 30pt;
background-color: white;
}

.textbox4 {
width: 100px;
height: 75px;
padding: 5px;
text-align: center;
font-size: 30pt;
margin-top: 8px;
margin-bottom: 8px;
clear:both;
background-color: white;
}

.textbox5{
float:left;
width: 300px;
height: 75px;
font-size: 30pt;
margin-top: 8px;
padding-top: 5px;
margin-left: -30px;
text-align: center;
/*
 background-color: #FFD700; 
*/
background-color: wheat;
}

.textbox25 {
	width: 100%;
	height: 150px;
	position: relative;
	left: 4%;
}

input[type='checkbox'] {
	-ms-transform: scale(5);
	-moz-transform: scale(5);
	-webkit-transform: scale(5);
	-o-transform: scale(5);
	position: relative;
	top: 20px;
}

.large-checkbox {
   margin-top: -17%;
}   

textarea {
   width: 100%;
   height: 130px; /*400px;*/
   font-size: 26pt;
   font-family: Arial;
	margin-bottom: 100px;
} 
textarea.comments {
   width: 965px;
   font-size: 25pt;
   font-family: Arial;
   height: 130px; /*400px;*/
   font-weight: bold;
   margin-left:8px;
}
textarea.comments2 {
   width: 1145px;
   font:size: 16pt;
   font-family: Arial;
   height: 130px; /*400px;*/
   margin-left:8px;
}
.styled-select select {
/*float: left;*/
text-align: center;
/*width:  auto;
position: relative;*/
background:green;   
adding: 0px;
margin-bottom: 8px;
   font-size: 40pt;
   font-weight: bold;
/*   line-height: 70px;
display: inline-block;*/
  text-shadow: 1px 1px 1px #000;
border: solid thin #882d13;
-webkit-border-radius: 20px;
border-radius: 20px;
/*
background-color: #FFD700;
*/
background-color: wheat;
  /* height: 75px;
   overflow:hidden;*/
background-image: -webkit-gradient(type, point, point, from(color), to(color),color-stop(where, color)) 
 -moz-appearance: button;
   -webkit-appearance: button;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -webkit-padding-end: 20px;
 -moz-padding-end: 20px;
  -WEBKIt-padding-start: 2px;
  user-select: none;
-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.styled-select2 select {
text-align: center;
width: auto;
background: green;
margin-bottom: 0;
position: relative;
        display: inline-block;
   padding: 3.5px;
   font-size: 40pt;
   line-height: 1.5;
   border: 1px solid;
  text-shadow: 1px 1px 1px #000;
border: solid thin #882d13;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
/*
background-color: #ce401c;
*/
background-color: wheat;
background-image: -webkit-gradient(type, point, point, from(color), to(color),color-stop(where, color));
/*
   height: 60px;
*/
   -webkit-appearance: none;
   overflow:hidden;
   -moz-appearance: button;
   -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;

}

.tabs ul {
width: auto;
padding: 0;
margin: 0;
position: relative;
padding-top: 60px; /*padding-top: 178px;*/
/*margin: 0px;
margin-left: 10px;*/
list-style-type: none;
}

.tabs ul li {
display: inline-block;
/*
width: auto;
*/
clear: none;
float: left;
height: 12px;
}

.tabs ul li a {
position: relative;
padding-left: 5%;
display: block;
line-height: 55px; /*line-height: 160px;*/
/*
padding-left: 10px;
background: #f6f6f6;
z-index: 9999;
border: 2px solid #ccc;
color: #000000;
*/
border-top: 1px solid #f6f6f6; /*border-top: 4px solid #f6f6f6;*/
border-bottom: 1px solid #f6f6f6; /*border-bottom: 4px solid #f6f6f6;*/
width: auto;
text-decoration: none;
font-weight: bold;
font-size: 18pt; /*font-size: 54pt;*/
}

.tabs ul li a:hover {
text-decoration: underline;
}

/***** CSS for styled Toggle *******/
.toggle {
   position: absolute;
   margin-left: -9999px;
   visibility: hidden;
}
.toggle + label {
   display: block;
   position: relative;
   cursor: pointer;
   outline: none;
   user-select: none;
}
input.toggle + label {
   /*padding: 2px;*/
   width: 208px !important;
   height: 120px;
   background-color: #f1f1f1;
   border-radius: 10px;
   font-size: 40;
}
input.toggle + label:before,
input.toggle + label:after {
   display: block;
   position: absolute;
   top: 1px;
   left: 1px;
   bottom: 1px;
   padding-top: 30px;
   content: "";
   text-align: left;
}
input.toggle + label:before {
   content: "OFF";
   color: grey;
   padding-left: 114px;
}
input.toggle + label:before {
   right: 1px;
   background-color: #f1f1f1;
   border-radius: 10px;
   transition: background 0.4s;
}
input.toggle + label:after {
   width: 90px;
   background-color: peru;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   transition: margin 0.4s;
}
input.toggle:checked + label:before {
   background-color: wheat;
   content: "ON";
   color: #523d19;
   padding-left: 34px;
}
input.toggle:checked + label:after {
   margin-left: 110px;
}
input.toggle:disabled +label:after {
   background-color: grey;
}
/****** END CSS FOR STYLED TOGGLE  *******/


.editbutton {
    color: white;
    font-size: 10pt;
    -moz-border-radius: 20px;
    border-radius: 10px;
/*
 * *    background-color: #CA1F1F;
 * background-color: rgb(202, 60, 60);
 * *       */
    background-color: blue;
    width: 50;
    height: 40;
    border: solid  thin rgb(202, 60, 60);
    margin-top: 10px;
    padding: 1;
    position: relative;
/*text-shadow: 1px 1px 1px #000;*/
}

.deletebutton {
   color: white;
   font-size: 10pt;
   -moz-border-radius: 20px;
   border-radius: 10px;
   /*
    * *    background-color: #CA1F1F;
    * *       */
   background-color: rgb(202, 60, 60);
   width: 50;
   height: 40;
   border: solid  thin rgb(202, 60, 60);
   margin-top: 10px;
   padding: 1;
   position: relative;
   /*text-shadow: 1px 1px 1px #000;*/
}

.input_table {
	width: 100%;
}

.input_comments {
	margin-bottom: 0px;
}

.label_comments {
   display:block;
   border:2px solid;
   border-color:black;
   font-size=30px;
   background:white;
}


/* moved from mobileTabs.css */

h3 {
	font-size: 26pt !important;
}

label, b{
	font-size: 16pt !important;
}

/******************
 * Tabs           *
 * ****************/
.activetab {
   background: peru;
   color: ivory;
}

.inactivetab {
   background: wheat;
   color: black;
}

.visibletab {
	visibility: visible;
}

.hiddentab {
	visibility: hidden;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
}

.tabs7 ul li,
.tabs6 ul li,
.tabs5 ul li,
.tabs4 ul li,
.tabs3 ul li,
.tabs2 ul li {
   width: 102%;
	position: relative;
	right: 1%;
	padding-bottom: 45px; /*155px;*/
}

.tabs7nospace ul li,
.tabs6nospace ul li,
.tabs5nospace ul li,
.tabs4nospace ul li,
.tabs3nospace ul li,
.tabs2nospace ul li {
	width: 102%;
	position: relative;
	right: 1%;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
}

.tabs7nospace ul,
.tabs6nospace ul,
.tabs5nospace ul,
.tabs4nospace ul,
.tabs3nospace ul,
.tabs2nospace ul {
	margin: 0px !important;
	border 0px !important;
}

/******************
 * Header Bar     *
 * ****************/
.header {
	width: 101%;
	height: 55px; /*180px;*/
	position: fixed;
	left: 0px;
	top: 0px;
	background: #222222;
	z-index: 10000;
}

.header_container {
	width: 18.8%;
	height: 50px; /*170px;*/
	z-index: 10001;
	font-size: 14px; /*42px*/
	text-align: center;
	background: #444444;
	background: linear-gradient(#555555, #333333);
	background: -webkit-linear-gradient(#555555, #333333);
	background: -o-linear-gradient(#555555, #333333);
	background: -moz-linear-gadient(#555555, #333333);
}

.header_link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #cccccc;
}

.header_back {
	position: relative;
	left: .4%;
	bottom: -2px; /*-4px;*/
}

.header_home {
	position: relative;
	left: 19.6%;
	bottom: 48px; /*166px;*/
}

.header_middle {
	position: relative;
	left: 38.8%;
	bottom: 98px; /*336px;*/
	width: 40.8%;
}

.header_logout {
	position: relative;
	left: 80%;
	bottom: 148px; /*506px;*/
}

/******************
 * Input Forms    *
 * ****************/
.mobile-month-select {
	width: 47%;
	height: 50px; /*150px;*/
	margin-right: 1%;
	font-size: 16pt !important;

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
}
.mobile-day-select {
	width: 19%;
	height: 50px; /*150px;*/
	margin-right: 1%;
	font-size: 16pt !important;

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
}
.mobile-year-select {
	width: 29%;
	height: 50px; /*150px;*/
	font-size: 16pt !important;

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;

}

.mobile-input {
	width: 99% !important;
	height: 50px !important; /*150px !important;*/
	position: relative;
	left: 10%;
	margin-bottom: 15px !important; /*50px !important;*/
	font-size: 16pt !important;
}

.mobile-input-half {
	width: 49% !important;
	height: 50px !important; /*150px !important;*/
	position: relative;
	left: 10%;
	margin-bottom: 15px !important; /*50px !important;*/
	font-size: 16pt !important;
}

.mobile-select {
	width: 100%;
	height: 50px; /*150px;*/
	margin-bottom: 15px !important; /*50px !important;*/
	font-size: 16pt !important;

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
}

.mobile-select-half {
	width: 49%;
	height: 60px; /*150px;*/
	position: relative;
	left: 12%;
	top: 8px;
	font-size: 16pt !important;

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;

}

.inside_table {
	left: 6% !important;
}

.single_table {
	left: 3% !important;
}

