
/******************
 * Tabs           *
 * ****************/
.activetab {
   background: peru;
   color: ivory;
}

.inactivetab {
   background: wheat;
   color: black;
}

.visibletab {
	visibility: visible;
}

.hiddentab {
	visibility: hidden;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
}

.tabs7 ul li,
.tabs6 ul li,
.tabs5 ul li,
.tabs4 ul li,
.tabs3 ul li,
.tabs2 ul li {
   width: 102%;
	position: relative;
	right: 1%;
	padding-bottom: 45px; /*155px;*/
}

.tabs7nospace ul li,
.tabs6nospace ul li,
.tabs5nospace ul li,
.tabs4nospace ul li,
.tabs3nospace ul li,
.tabs2nospace ul li {
	width: 102%;
	position: relative;
	right: 1%;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
}

.tabs7nospace ul,
.tabs6nospace ul,
.tabs5nospace ul,
.tabs4nospace ul,
.tabs3nospace ul,
.tabs2nospace ul {
	margin: 0px !important;
	border 0px !important;
}

/******************
 * Header Bar     *
 * ****************/
.header {
	width: 101%;
	height: 55px; /*180px;*/
	position: fixed;
	left: 0px;
	top: 0px;
	background: #222222;
	z-index: 10000;
}

.header_container {
	width: 18.8%;
	height: 50px; /*170px;*/
	z-index: 10001;
	font-size: 14px; /*42px*/
	text-align: center;
	background: #444444;
	background: linear-gradient(#555555, #333333);
	background: -webkit-linear-gradient(#555555, #333333);
	background: -o-linear-gradient(#555555, #333333);
	background: -moz-linear-gadient(#555555, #333333);
}

.header_link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #cccccc;
}

.header_back {
	position: relative;
	left: .4%;
	bottom: -2px; /*-4px;*/
}

.header_home {
	position: relative;
	left: 19.6%;
	bottom: 48px; /*166px;*/
}

.header_middle {
	position: relative;
	left: 38.8%;
	bottom: 98px; /*336px;*/
	width: 40.8%;
}

.header_logout {
	position: relative;
	left: 80%;
	bottom: 148px; /*506px;*/
}

body{
/*-moz-transform: rotate(-90deg);
 * -o-transform: rotate(-90deg);
 * -webkit-transform: rotate(-90deg);
 * -ms-transform: rotate(-90deg);*/
/* set to make tabs work in mobile - no idea why this works */
/*
font-size: 0em;
*/
background-color: ivory;
}

.tabs ul {
width: auto;
padding: 0;
margin: 0;
position: relative;
padding-top: 60px; 
list-style-type: none;
}

.tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 12px;
}
.tabs ul li a {
position: relative;
padding-left: 5%;
display: block;
line-height: 55px; 
border-top: 1px solid #f6f6f6;
border-bottom: 1px solid #f6f6f6; 
width: auto;
text-decoration: none;
font-weight: bold;
font-size: 18pt; 
}

.tabs ul li a:hover {
text-decoration: underline;
}
