.activetab {
   background: peru;
   color: ivory;
}

.inactivetab {
   background: wheat;
   color: black;
}

.tabs7 ul li {
   width: 14.28%;
}

.tabs6 ul li {
   width: 16.66%;
}

.tabs5 ul li {
   width: 20%;
}

.tabs4 ul li {
   width: 25%;
}

.tabs3 ul li {
   width: 33.33%;
}

.tabs2 ul li {
   width: 50%;
}

.tabs1 ul li {
   width: 100%;
}
